---
import '../styles/global.css';
---

<div class="card">
    <h1 class="title">¿Me Perdonas Adriiii?</h1>
    <div class="heart">
        <img src="/images/cat-01.gif" alt="San Valentin" class="cat img-fluid">
    </div>
    <div class="text"></div>
    <button class="button">SÍ</button>
    <button class="button button__negative">NO</button>
    <button class="button button__error" style="display: none;">Error debemos reiniciar</button>
</div>